html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 16px;
}


.menu_bar_title{
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 2;
}

.menu_bar_title h1{
  color: silver;
  padding-left: 1rem;
  padding-top: 0.25rem;
  margin: 0;
}

.menu_bar_footer{
  /* overflow: hidden; */
  background-color: #333;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  height: 3rem;
}

.menu_bar_footer p {
  color: silver;
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0;

}

.pop_building {
  border: 2px solid red;
  height: 2rem;
  width: 2rem;
}

.pop_unit {
  border: 2px solid blue;
  height: 2rem;
  width: 2rem;
}

.map {
  /* the map */

  z-index: 0;
}

.appWrapper {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}