/* === GENERAL WRAPPERS === */
* {
  /* border: 1px solid red; */
}

html {
  height: auto;
  
}

body {
  font-size: 16px;
  height: 100%;
  min-height: 100%; /*for some browsers*/
  background: lightgray;
  margin: 0;
}

.app{
  background: gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

}

/* The whole page layout: body -> .app -> .layout */
/* spaced between header and footer */
.layout {
  position: absolute; 
  left: 0;
  right: 0; 
  top: 3rem; 
  bottom: 3rem;
}

/* === GENERAL INPUTS === */

.input_squarestyle {
  border: 1px solid gray;
  border-radius: 2px;
  padding-left: 0.75rem;
}

.input_roundstyle {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1rem;
  
}

.btn_light {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
  background: #f6f7f9;
  border: 1px solid #ced0d4;
  color: #4b4f56;
}
    .btn_light:hover {
      background: #e9ebee;
    }

    .btn_light:active {
      background: #d8dade;
      border-color: #d8dade;
    }

/* === HEADER TITLE AND NAV === */

.menu_bar_header_layout {
  display: flex;
  justify-content: space-between;
}

.menu_bar_header_title h1 {
  color: silver;
  padding-left: 1rem;
  padding-top: 0.25rem;
  margin: 0;
  }

.menu_bar_header_nav {
  display: flex;

}

.menu_bar_header_icon {
  background: gray;
  border: 1px solid white;
  width: 2rem;
  height: 2rem;
  margin: 0.45rem 0.75rem 0.25rem 0.25rem;
}

.menu_bar_header{
  
   background-color: #25292E;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 3rem;
 
 }
 
/* === LOGIN PAGE SPECIFIC === */

.login_page_header, .login_page_header_input {
  background: rgb(158, 158, 158);
  display: flex;
  justify-content: space-between;
}

.login_page_title {
  color: #000;
  padding-left: 1rem;
}

.login_page_header_input {
  justify-content: flex-end;
  padding-right: 2rem;
}

.login_page_header_input input {
  justify-content: flex-end;
  margin: 1rem 0.5rem;
  font-size: 0.85rem;
}

.login_page_header_input a {
  margin-top: 1.5rem;
  color: lightgray;
}

  .login_page_content p {
    margin: 0 1rem 0 1rem;
  }

  .login_page_content .input_roundstyle  {
    margin: 1rem 2rem 1rem 2rem;
  }

  .login_page_content .btn_light  {
    margin: 0 6rem 0 6rem;
  }

.login_page_content {
  background: white;
  display: flex;
  justify-content: space-around;
}

.login_page_gameconcept {
  width: 60%;
  display: flex;
  flex-direction: center;
}

.login_page_subscribeform {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* === FOOTER NEWSFEED AND NAV === */
.menu_bar_footer{

  background-color: #25292E;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 3rem;
}

.menu_bar_footer p {
  color: silver;
  padding-left: 1rem;
  padding-top: 1rem;
  margin: 0;

}

/* === MAP RELATED === */

.pop_building {
  border: 2px solid red;
  height: 2rem;
  width: 2rem;
}

.pop_unit_closed {
  border: 2px solid blue;
  height: 2rem;
  width: 2rem;
}

.pop_unit_opened {
  border: 2px solid blue;
  background: rgb(29, 29, 29);
  height: 32rem;
  width: 16rem;
}